/Backend/node_modules
/Backend/Animales/node_modules
/Backend/Usuarios/node_modules
/Backend/Adopcion/node_modules
/Backend/Notificaciones/node_modules
/Backend/Seguimiento/node_modules

**/node_modules/

# Ignorar ejecutables grandes
*.exe
*.dll
*.bin